@keyframes slideLeft {
    from{
        opacity: 0;
        transform: translateX(30%);
    }to{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes slideUp {
    from{
        opacity: 0;
        transform: translateY(50px);
    }to{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes slideDown {
    0%{
        opacity: 0;
        top: 0px;
    }50%{
        opacity: 1;
        top: 30px;
    }100%{
        opacity: 0;
        top: 60px;
    }
}
@keyframes expandLine {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
