.footer .send-mail input{
    border: 0;
    background: transparent;
    flex-grow: 1;
    color: white;
}
.footer .send-mail{
    background: #272727;
    padding-left: 10px;
    border-radius: 5px;
    overflow: hidden;
}
.footer .send-mail button{
    background: #BD9A68;
    border: 0;
    color: white;
    padding: 10px 15px;
}
.footer .send-mail input:focus{
    outline: 0;
}
.footer .menus a{
    display: block;
}
.footer .menus span{
    display: block;
    height: 1px;
    width: 0%;
    background: #BD9A68;
    margin-bottom: 15px;
    transition: all 0.5s;
}
.footer .menus a:hover+span{
    width: 100%;
}
