/* Media Queries */

@media (min-width: 1400px) {
    
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .video-bg{
        height: 600px;
        border: 10px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .video-bg{
        height: 600px;
        border: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .cross-img{
        display: none;
    }
    .banner .content .context>p:first-child{
        font-size: 2rem;
    }
    .banner .content{
        width: 100%;
    }
    .banner .controls {
        display: none;
    }
    .video-bg{
        height: 500px;
        border: 10px;
    }
    .testimonial-area .testimonial-item {
        width: 100%;
    }
    .blog-area .inquiry-box .inquiry-form{
        flex-direction: column;
    }
    .blog-area .inquiry-box .inquiry-form input{
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .cross-img{
        display: none;
    }
    .banner .content .context>p:first-child{
        font-size: 2rem;
    }
    .banner .content{
        width: 100%;
    }
    .banner .controls {
        display: none;
    }
    .video-bg{
        height: 300px;
        border: 10px;
    }
    .testimonial-area .testimonial-item {
        width: 100%;
    }
    .blog-area .inquiry-box .inquiry-form{
        flex-direction: column;
    }
    .blog-area .inquiry-box .inquiry-form input{
        width: 100%;
    }
}

@media (max-width: 575.98px) {
    .cross-img{
        display: none;
    }
    .banner .content .context>p:first-child{
        font-size: 2rem;
    }
    .banner .content{
        width: 100%;
    }
    .banner .controls {
        display: none;
    }
    .video-bg{
        height: 200px;
        border: 10px;
    }
    .testimonial-area .testimonial-item {
        width: 100%;
    }
    .blog-area .inquiry-box .inquiry-form{
        flex-direction: column;
    }
    .blog-area .inquiry-box .inquiry-form input{
        width: 100%;
    }
}