/* Colors
Green : #BD9A68
*/

/* ------------------------------------Fonts Start------------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
.vidaloka {
    font-family: "Vidaloka", serif;
    font-weight: 400;
    font-style: normal;
}
.bg-F9FAF1{
    background-color: #F9FAF1;
}
.white-filter{
    filter: brightness(0) invert(1);
}
/* ------------------------------------Fonts End------------------------------------ */


/* ------------------------------------Global Start------------------------------------ */
*{
    font-family: 'Montserrat', sans-serif;
}
.sh-btn{
    background: #BD9A68;
    width: 200px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
}
.sh-btn>div{
    height: 20px;
    overflow: hidden;
}
.sh-btn>div>span{
    display: block;
    text-align: center;
    transition: all 0.5s;
    color: white;
}
.sh-btn:hover{
    background: black;
}
.sh-btn:hover>div>span{
    transform: translateY(-100%);
}
/* ------------------------------------Global Start------------------------------------ */




/* ------------------------------------Banner Start------------------------------------ */
.banner{
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/villa1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow-x: hidden;
}
.banner .controls{
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.banner .controls .custom-radio{
    border: 2px solid #BD9A68;
    appearance: none;
    background-color: rgba(75, 31, 31, 0);

    cursor: pointer;
}
.banner .controls .custom-radio:checked::before{
    content: '';
    background-color: #BD9A68;
    color: #BD9A68;
}
.cross-img{
    height: inherit;
    width: 50%;
    animation: slideLeft 0.8s ease-in-out 0.8s 1 normal forwards;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    z-index: 1;
}
.cross-img-1{
    background: #BD9A68;
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 50% 100%);
}
.cross-img-2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('../images/street.png');
    clip-path: polygon(8% 0%, 100% 0%, 100% 100%, 50% 100%);
    background-repeat: no-repeat;
    background-size: cover;
}
.banner .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.banner .content .context>p:first-child{
    font-size: 4rem;
    opacity: 0;
    animation: slideUp 0.8s ease-in-out 0s 1 normal forwards;
    margin-bottom: 50px;
}
.banner .content .context>p:nth-child(2){
    opacity: 0;
    animation: slideUp 0.8s ease-in-out 0.2s 1 normal forwards;
    margin-bottom: 50px;
}
.banner .content .sh-btn{
    opacity: 0;
    animation: slideUp 0.8s ease-in-out 0.4s 1 normal forwards;
}
.banner-down-arrows{
    height: 40px;
    width: 40px;
    margin: 100px auto 0px;
    position: relative;
}
.banner-down-arrows>i{
    position: absolute;
    left: 0;
}
.banner-down-arrows>i:nth-child(1){animation: slideDown 2s linear 0.6s infinite normal both running;}
.banner-down-arrows>i:nth-child(2){animation: slideDown 2s linear 0.3s infinite normal both running;}
.banner-down-arrows>i:nth-child(3){animation: slideDown 2s linear 0s infinite normal both running;}
/* ------------------------------------Banner End------------------------------------ */



/* ------------------------------------Video Start------------------------------------ */
.video-bg{
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.video-bg .play-btn {
    color: red;
    font-size: 80px;
    line-height: 1;
}
/* ------------------------------------Video End------------------------------------ */


/* ------------------------------------Amenities Start------------------------------------ */

.amenities .facility{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.amenities .facility:hover .facility-icon{
    transform: translateY(15px);
}
.amenities .facility .facility-icon{
    transition: all 1s;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background: #BD9A68;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid #BD9A68;
    outline-offset: 4px;
    position: relative;
}
.amenities .facility .facility-icon>span{
    height: inherit;
    width: inherit;
    border-radius: inherit;
    outline: 2px solid white;
    outline-offset: -6px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.amenities .facility .facility-icon>i{
    font-size: 3.5rem;
    color: white;
}
.amenities .facility .facility-title{
    margin-top: 30px;
    font-family: 'Vidaloka', serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.amenities .facility .facility-description{
    text-align: center;
    color: rgb(97, 97, 97);
}

/* ------------------------------------Amenities End------------------------------------ */



/* ------------------------------------Featured Projects Start------------------------------------ */
.featured-projects .featured-project{
    position: relative;
}
.featured-projects .featured-project .shine-img{
    transform: translateX(-100%);
}
.featured-projects .featured-project:hover .shine-img{
    transition: all 1s;
    transform: translateX(100%);
}
.featured-projects .featured-project .featured-project-img+div{
    height: 500px;
    width: 100%;
    display: block;
    background: rgba(255, 0, 0, 0.144);
    position: absolute;
    top: 0;
    left: 0;
}
/* ------------------------------------Featured Projects End------------------------------------ */

/* ------------------------------------Testimonial Start------------------------------------ */
.testimonial-area .testimonial-item {
    display: flex;
    align-items: center;
    width: 75.5%;
    margin-bottom: 30px;
}
.testimonial-area .testimonial-thumb {
    position: relative;
    width: 80px;
    flex: 0 0 80px;
    margin-right: 22px;
}
.testimonial-area .testimonial-content {
    border: 1.3px solid black;
    border-radius: 15px;
    padding: 30px 30px;
    position: relative;
    margin-left: 12px;
}
.testimonial-area .testimonial-thumb .icon {
    position: absolute;
    right: 3px;
    bottom: 3px;
    line-height: 1;
    color: #BD9A68;
}
.testimonial-area .testimonial-content::before {
    content: "";
    position: absolute;
    left: -9px;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    width: 16px;
    height: 16px;
    background: white;
    border-top: 1.3px solid black;
    border-left: 1.3px solid black;
}
.testimonial-area .testimonial-item:nth-child(even) {
    flex-direction: row-reverse;
    margin-left: auto;
}
.testimonial-area .testimonial-item:nth-child(even) .testimonial-thumb {
    margin-right: 0;
    margin-left: 22px;
}
.testimonial-area .testimonial-item:nth-child(even) .testimonial-content::before {
    left: auto;
    right: -9px;
    border-bottom: 1.3px solid black;
    border-right: 1.3px solid black;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
}
/* ------------------------------------Testimonial End------------------------------------ */



/* ------------------------------------Blog area Start------------------------------------ */
.blog-area .blog-content .breadcrumb .breadcrumb-item{
    font-size: 0.8rem;
}
.blog-area .blog-item-wrap .blog-item .blog-thumb{
    border-radius: 20px;
    overflow: hidden;
}
.blog-area .blog-item-wrap .blog-item .blog-thumb img,
.blog-area .blog-item-wrap .blog-item .blog-content p a{
    transition: all 1s;
}
.blog-area .blog-item-wrap .blog-item .blog-content p a{
    color: black;
}
.blog-area .blog-item-wrap .blog-item:hover .blog-thumb img{
    transform: scale(1.2);
}
.blog-area .blog-item-wrap .blog-item:hover .blog-content p a{
    color: #BD9A68;
}
.blog-area .inquiry-box{
    border-radius: 20px;
}
.blog-area .inquiry-box .inquiry-form{
    display: flex;
    justify-content: center;
}
.blog-area .inquiry-box .inquiry-form input{
    border-radius: 10px;
    border: 1px solid #BD9A68;
    margin-bottom: 20px;
}
.blog-area .inquiry-box .inquiry-form input:not(:last-child){
    margin-right: 20px;
}
.blog-area .inquiry-box .inquiry-form input:last-child{
    background: #BD9A68;
    color: white;
    transition: all 0.5s;
}
.blog-area .inquiry-box .inquiry-form input:last-child:hover{
    background: black;
    border-color: black;
}
.blog-area .inquiry-box .inquiry-form input:focus{
    outline: 0;
    border-color: black;
}
.blog-area .inquiry-box .terms-condition i{
    color: #ececec;
    cursor: pointer;
}
/* ------------------------------------Blog area End------------------------------------ */

